/source/front-end/back-office/bootstrap-container/*.lock
/source/back-end/API/.vs
/source/back-end/API/MicroArchitecture.API.API/bin
/source/back-end/API/MicroArchitecture.API.API/obj
/source/back-end/API/MicroArchitecture.API.Domain/bin
/source/back-end/API/MicroArchitecture.API.Domain/obj
/source/back-end/API/MicroArchitecture.API.Infrastructure/bin
/source/back-end/API/MicroArchitecture.API.Infrastructure/obj
/source/back-end/API/MicroArchitecture.API.Application/bin
/source/back-end/API/MicroArchitecture.API.Application/obj

/source/front-end/back-office/modules/mra-authentication/*.lock
/source/front-end/back-office/modules/mra-utility/*.lock
/source/front-end/back-office/*.lock
/source/front-end/back-office/node_modules
/source/front-end/back-office/modules/mra-account/*.lock
/source/back-end/Core/.vs
/source/back-end/Core/MicroArchitecture.Core/obj
/source/back-end/Core/MicroArchitecture.Core/bin

*.lock
/source/front-end/back-office/modules/mra-product/*.log
/source/front-end/back-office/mra-admin/.firebase
/source/front-end/back-office/yarn-error.log
/source/front-end/back-office/yarn.lock
/source/front-end/back-office/build
/source/back-end/API/MicroArchitecture.API/obj
/source/back-end/API/MicroArchitecture.API/bin
